.menu-wrap { 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
}

 .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
} 

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--overlay-color);
    
}

/* hamburger lines */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
}

/* hamburger lines top and bottom */
.menu-wrap .hamburger > ::before,
.menu-wrap .hamburger > ::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
} 

/* moves line down */
.menu-wrap .hamburger > ::after {
    top: 10px;
}

/* toggler animation */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}

/* turns lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

/* rotate on hover when checked */ 
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
    background-color: #2d2a29;
}

/* show menu */
.menu-wrap .toggler:checked ~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~.menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~.menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 300vw;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease-in;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
     opacity: 0; 
    transition: opacity 0.4s ease-in;
}

.menu-wrap .menu > div > div> ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div> ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .menu > div > div> ul > li > a:hover {
    color: #f7c08a;
} 

#navbar {
    background: rgb(109, 66, 37);
    overflow: auto;
    display: none;
    
}

#navbar a {
    color: #fff;
}

#navbar .logo {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
 #navbar ul li a.current {

    color: #f7c08a;
    border-radius: 20px;
}

